.task:hover {
    background-color: rgb(209, 209, 209);
}

.archivedTask:nth-last-child(2) {
    float: left;
}

.task:hover>textarea {
    background-color: rgb(209, 209, 209);
}

.archivedTask:hover>:last-child {
    background-color: rgb(209, 209, 209);
}

div[ismoving] {
    z-index: 1000;
    position: absolute;
    width: 50.5%;
    background-color: rgb(109, 109, 109) !important;
}

div[ismoving]>textarea {
    color: white;
    background-color: rgb(109, 109, 109) !important;
}

[oldValue] {
    cursor: text;
    background-color: rgb(213, 168, 255) !important;
}

#editingTAcopy {
    position: absolute;
    font-size: 0.8em;
    font-family: Verdana;
    opacity: 1;
    word-wrap: break-word;
    z-index: -1;
}