.block {
    border: inherit;
    margin-left: 1%;
    width: calc(95% - 1.5em + 2px);
    min-height: calc(1.8em + 2px);
    font-size: 0.8em;
    overflow-y: hidden;
    font-family: Verdana;
    display: block;
    float: left;
    outline: none;
    cursor: text;
    color: black;
    resize: none;
    transition: background-color 0.3s;
}

.dragZone {
    height: 1.8em;
    width: 1.5em;
    margin-left: 1%;
    display: block;
    float: left;
    cursor: pointer;
    background-image: url("images/drag-zone.png");
    background-size: 1.1em 1.5em;
    background-repeat: no-repeat;
    background-position: top;
}

.archivedBlock {
    width: 68%;
    min-height: 1.7em;
    font-size: 0.8em;
    font-family: Verdana;
    display: block;
    float: left;
    overflow-y: hidden;
    padding: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.task {
    width: 70%;
    display: table;
    min-height: 1.8em;
    transition: background-color 0.3s;
}

.archivedTask {
    width: 76.5%;
    display: table;
    min-height: 1.8em;
    padding: 0 6px;
    margin-left: 12px;
    margin-right: 12px;
}

.complete_ikon {
    background-image: url("images/inversed-complete-ikon.jpg");
    height: 1.8em;
    width: 1.6em;
    margin-left: 1%;
    display: block;
    float: left;
    background-size: 1.2em 1.6em;
    background-repeat: no-repeat;
    background-position: center;
}

.listChild {
    border-top: 3px dashed rgba(0, 0, 0, 0.200);
    min-height: 50px;
    padding: 6px;
    padding-bottom: 5px;
    width: 80%;
    margin: 12px;
}

.date_indicator {
    text-align: right;
    font-size: 1.4em;
    padding: 1px;
    color: rgba(0, 0, 0, 0.230);
    font-family: roboto;
    font-weight: 500;
    float: right;
}

#archive {
    display: block;
    min-height: 60px;
    width: 91%;
    margin-left: 3%;
    top: 0;
}

#done {
    width: 80%;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 12px;
}

#done>div {
    text-align: right;
    font-size: 1.4em;
    padding: 1px;
    color: rgba(0, 0, 0, 0.230);
    font-family: roboto;
    font-weight: 500;
}

#list {
    display: block;
    width: 91%;
    margin-left: 3%;
}

.blank {
    height: 250px;
    width: 100%;
}

body {
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#delete_zone {
    position: fixed;
    background-color: rgba(255, 82, 82, 0.57);
    background-image: url("images/delete.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 50%;
    width: 11em;
    height: 11em;
    z-index: 100;
    right: 1%;
    bottom: 19%;
    opacity: 0;
    transition: opacity 0.3s;
    display: none;
}

#textarea {
    resize: none;
    width: 75%;
    position: fixed;
    left: 1%;
    bottom: 1%;
    height: 12%;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    outline: none;
}

#ta2 {
    right: 3%;
    position: fixed;
    bottom: 1%;
    height: 12%;
    resize: none;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: hidden;
}